@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  --primary-color: #ff3b5c;
  --primary-background-color: #000000;
  --secondary-background-color: #4b4a4a;
  --container-background-color: #121212;
  --primary-text-color: #ffffffe6;
  --secondary-text-color: #ffffffbf;
  --highlight-background-color: #1a1a1b;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
}